body{box-sizing: border-box;
background-color: #aaa;}
#header-nav{
	background-color: #1232cd;
	width: 100%;
	border-radius: 0;
}

.navbar-brand h1{
	font-family: Helvatica, sans-serif;
	color: #e2e325;
	font-size: 1.5em;
	font-weight: bold;
	text-shadow: 1px 1px 1px #ddd;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;

}
.navbar-brand a:hover, navbar-brand a:focus {
	text-decoration: none;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #12ef23;
}

h2.text-center{
	color: #000;
	font-weight: bold;
	font-size: 40px;
	margin-top: 5px;
}
.row section {
	background-color: #124588;
color: #fff;
margin-bottom: 10px;
height: 700px;
border-right: solid #aaa 10px;
}

#collapsable-nav ul li a {
	font-size: 20px;
	font-weight: bold;
	color: #eee;
	background-color: #222;
}
